<div class="modal-header">
    <h3 class="modal-title">Add Connection between <small>{{term1.title}}</small> and <small>{{term2.title}}</small></h3>
</div>
<div class="modal-body">

    <form class="form-horizontal" ng-submit="$event.preventDefault()" name="connectionForm">

        <div class="form-group" ng-class="errors('Connection_Name') && 'has-error'">
            <label for="Connection_Name" class="col-sm-4 control-label">Connection Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="name for name in pvalues.Names | filter:$viewValue | limitTo:8" ng-model="Connection_Name" id="Connection_Name" placeholder="Connection Name">
                <span class="help-block" ng-class="!errors('Connection_Name') && 'hidden'" ng-bind="errors.Connection_Name"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Synonym') && 'has-error'">
            <label for="descriptor" class="col-sm-4 control-label">Synonym</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="synonym for synonym in pvalues.Synonyms | filter:$viewValue | limitTo:8" ng-model="Connection_Synonym" id="Connection_Synonym" placeholder="Synonym">
                <span class="help-block" ng-class="!errors('Connection_Synonym') && 'hidden'" ng-bind="errors.Connection_Synonym"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Time_Limitation') && 'has-error'">
            <label for="Connection_Time_Limitation" class="col-sm-4 control-label">Time Limitation</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="TimeLimitation for TimeLimitation in pvalues.TimeLimitation | filter:$viewValue | limitTo:8" ng-model="Connection_Time_Limitation" id="Connection_Time_Limitation" placeholder="Time Limitation">
                <span class="help-block" ng-class="!errors('Connection_Time_Limitation') && 'hidden'" ng-bind="errors.Connection_Time_Limitation"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Position_Limitation') && 'has-error'">
            <label for="Connection_Position_Limitation" class="col-sm-4 control-label">Position Limitation</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="PositionLimitation for PositionLimitation in pvalues.PositionLimitation | filter:$viewValue | limitTo:8" ng-model="Connection_Position_Limitation" id="Connection_Position_Limitation" placeholder="Position Limitation">
                <span class="help-block" ng-class="!errors('Connection_Position_Limitation') && 'hidden'" ng-bind="errors.Connection_Position_Limitation"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection__Amount_Limitation') && 'has-error'">
            <label for="Connection__Amount_Limitation" class="col-sm-4 control-label">Amount Limitation</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" typeahead="AmountLimitation for AmountLimitation in pvalues.AmountLimitation | filter:$viewValue | limitTo:8" ng-model="Connection__Amount_Limitation" id="Connection__Amount_Limitation" placeholder="Amount Limitation">
                <span class="help-block" ng-class="!errors('Connection__Amount_Limitation') && 'hidden'" ng-bind="errors.Connection__Amount_Limitation"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Climate_Limitation') && 'has-error'">
            <label for="Connection_Climate_Limitation" class="col-sm-4 control-label">Climate Limitation</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="ClimateLimitation for ClimateLimitation in pvalues.ClimateLimitation | filter:$viewValue | limitTo:8" ng-model="Connection_Climate_Limitation" id="Connection_Climate_Limitation" placeholder="Climate Limitation">
                <span class="help-block" ng-class="!errors('Connection_Climate_Limitation') && 'hidden'" ng-bind="errors.Connection_Climate_Limitation"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Season_Limitation') && 'has-error'">
            <label for="Connection_Season_Limitation" class="col-sm-4 control-label">Season Limitation</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="SeasonLimitation for SeasonLimitation in pvalues.SeasonLimitation | filter:$viewValue | limitTo:8" ng-model="Connection_Season_Limitation" id="Connection_Season_Limitation" placeholder="Season Limitation">
                <span class="help-block" ng-class="!errors('Connection_Season_Limitation') && 'hidden'" ng-bind="errors.Connection_Season_Limitation"></span>
            </div>
        </div>

        <div class="form-group" ng-class="errors('Connection_Measurement') && 'has-error'">
            <label for="Connection_Measurement" class="col-sm-4 control-label">Measurement</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" typeahead="measurement for measurement in pvalues.Measurement | filter:$viewValue | limitTo:8" ng-model="Connection_Measurement" id="Connection_Measurement" placeholder="Measurement">
                <span class="help-block" ng-class="!errors('Connection_Measurement') && 'hidden'" ng-bind="errors.Connection_Measurement"></span>
            </div>
        </div>


    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveConnection()"><i class="glyphicon glyphicon-ok"></i> Save</button>
    <button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
</div>
