<div class="modal-header">
    <h3 class="modal-title">{{ details ? details.term.Term_Title : term.title }}</h3>
</div>
<div class="modal-body">

    <div class="term-relations">

        <div class="row bottom-margin">
            <div class="col-md-3"><b>Father of:</b> </div>
            <div class="col-md-9">
                <button class="btn-link" ng-repeat="child in details.children" ng-click="loadTermDetails(child.Term_Id)">{{child.Term_Title}}</button>
                <span ng-show="!details.children.length">No Terms</span>
            </div>
        </div>

        <div class="row bottom-margin">
            <div class="col-md-3"><b>Son of:</b> </div>
            <div class="col-md-9">
                <button class="btn-link" ng-repeat="parent in details.parents" ng-click="loadTermDetails(parent.Term_Id)">{{parent.Term_Title}}</button>
                <span ng-show="!details.parents.length">No Terms</span>
            </div>
        </div>

        <div class="row bottom-margin">
            <div class="col-md-3"><b>Connected with:</b> </div>
            <div class="col-md-9">
                <button class="btn-link" ng-repeat="connected in details.connectedTerms" ng-click="loadTermDetails(connected.Term_Id)">{{connected.Term_Title}}</button>

                <span ng-show="!details.connectedTerms.length">No Terms</span>
            </div>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Term Properties</div>
        <div class="panel-body">
            <div class="row bottom-margin" ng-repeat="property in details.properties">
                <div class="col-md-3"><b>{{property.title}}:</b> </div>
                <div class="col-md-9">
                    {{property.Property_Value}}
                </div>
            </div>

            <div class="text-center" ng-show="!details.properties.length">No Properties</div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
