<!-- context directive manages the context menu creation inside the element -->
<div ui-tree-handle context>
    <!-- no-drag deactivates the drag for the specific elements and all it's children -->
    <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
    </a>
    {{item.title}}
</div>
<ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
    <!-- recursive include for ilimited nesting -->
    <li ng-repeat="item in item.items" ui-tree-node ng-include="'templates/items_renderer.html'">
    </li>
</ol>
