<html>
    <head>
        <title>Angular Tree</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="utf-8">
    </head>
    <body ng-app="tree-implementation">
        <div ng-controller="home">

            <h1>Angular Tree</h1>
            
            <!-- Tree container (ui-tree="options" sets the tree library options) -->
            <div ui-tree="options">
                <!-- Master node (ui-tree-nedes indicates that inside the elements there will be nodes)-->
                <ol ui-tree-nodes ng-model="list" >
                    <!-- Nodes (ui-tree-node indicates to lib that this element is a node)-->
                    <li ng-repeat="item in list" ui-tree-node ng-include="'items_renderer.html'">
                    </li>
                </ol>
            </div>

        </div>
        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
        <script type="text/javascript" src="tree-implementation.js"></script>    
    </body>
</html>